/*image d'article*/

.imageArticle{
    display: flex;
    max-height: 450px;
    max-width: 600px;
    min-width: 200px;
    min-height: 100px;
}

.image{
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.bouton{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-content: center;
}

.imageArticle:hover{
    background-color: antiquewhite;
    color: beige;
}