{%extends "base.html.twig" %}
{% block body %}
<h1>{{title}}</h1> 


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque eius dicta voluptatibus praesentium minus incidunt tenetur quia itaque eligendi aperiam, quas, sequi maiores explicabo obcaecati quidem? Quae, adipisci cum!</p>

{% endblock %}